<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/png" href="../assets/images/Wave_Emoji_75.png">
    <link rel='stylesheet' href='../css/splendor.css'>
</head>
<body>
    <main>
        <h1>{{ page.title }}</h1>
        <p class="post-meta">
            <span>{{ page.read_time }} read</span>
            <span>{{ page.date | date: "%B %-d, %Y" }}</span>
        </p>

        <div class="post-content">
            {{ content }}
        </div>
    </main>

    <footer>
        <p><a href="/codeBlog">Return to Main page</a></p>
        <p>&copy; Nakama's CodeBlog</p>
    </footer>
</body>
</html>
